{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/solid.min.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/fontawesome.min.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/selectize.bootstrap4.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
  <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.stickytableheaders.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.checkboxes-1.2.2.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/selectize.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/clipboard.min.js" %}"></script>
  <script type="text/javascript">
   $(document).ready(function() {
       new Clipboard(document.querySelectorAll('button.btn-copy'));
   });
  </script>
{% block headers %}{% endblock %}
  <title>{% block title %}Patchwork{% endblock %} - Patchwork</title>
 </head>
 <body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
   <a class="navbar-brand mb-0 h1" href="{% url 'project-list' %}">Patchwork</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarNav">
{% block navbarmenu %}
    <span class="navbar-brand text-secondary">
     {% block heading %}{% if project %}{{project.name}}{% endif %}{% endblock %}
    </span>
{% if project %}
    <ul class="navbar-nav mr-auto">
     <li class="nav-item {% block patch_active %}{% endblock %}">
      <a class="nav-link" href="{% url 'patch-list' project_id=project.linkname %}">
       <i class="fas fa-file"></i> Patches
      </a>
     </li>
     <li class="nav-item {% block bundle_active %}{% endblock %}">
      <a class="nav-link" href="{% url 'bundle-list' project_id=project.linkname %}">
       <i class="fas fa-box"></i> Bundles
      </a>
     </li>
     <li class="nav-item {% block info_active %}{% endblock %}">
      <a class="nav-link" href="{% url 'project-detail' project_id=project.linkname %}">
       <i class="fas fa-info-circle"></i> About this project
      </a>
     </li>
    </ul>  <!-- /.navbar-nav .mr-auto -->
{% endif %}  {# project #}
{% endblock %}  {# navbar #}
    <ul class="navbar-nav ml-auto">
{% if user.is_authenticated %}
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown"
         role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <span class="badge badge-light">{{ user.profile.n_todo_patches }}</span>
       <strong>{{ user.username }}</strong>&nbsp;<span class="caret"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown">
       <a class="dropdown-item" href="{% url 'user-todos' %}">
        Reviews pending
        <span class="badge badge-dark">{{ user.profile.n_todo_patches }}</span>
       </a>
       <a class="dropdown-item" href="{% url 'user-bundles' %}">Bundles</a>
       <div class="dropdown-divider"></div>
{% if user.is_staff %}
       <a class="dropdown-item" href="{% url 'admin:index' %}">Administration</a>
{% endif %}  {# user.staff #}
       <a class="dropdown-item" href="{% url 'user-profile' %}">View profile</a>
       <a class="dropdown-item" href="{% url 'auth_logout' %}">Logout</a>
      </div>  <!-- /.dropdown-menu -->
     </li>  <!-- /.nav-item .dropdown -->
{% else %}  {# user.is_authenticated #}
     <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}">Login</a></li>
     <li class="nav-item"><a class="nav-link" href="{% url 'user-register' %}">Register</a></li>
     <li class="nav-item"><a class="nav-link" href="{% url 'mail-settings' %}">Mail settings</a></li>
{% endif %}  {# user.is_authenticated #}
    </ul> <!-- /.navbar-nav .ml-auto -->
   </div> <!-- /.collapse .navbar-collapse -->
  </nav>
{% if messages %}
  <div id="messages">
  {% for message in messages %}
  {# TODO(stephenfin): Make use of message.tags when completely #}
  {# converted to django.contrib.messages #}
   <div class="message">{{ message }}</div>
  {% endfor %}
  </div>
{% endif %}  {# if messages #}
  <div class="container-fluid">
{% block body %}{% endblock %}
  </div>
  <footer class="footer">
   <div class="container">
    <span class="text-muted">
     <a class="text-muted" href="http://jk.ozlabs.org/projects/patchwork/">
      patchwork patch tracking system
     </a>
     | version {{version}} |
     <a class="text-muted" href="{% url 'about' %}">about patchwork</a>
    </span>
   </div>  <!-- /.container -->
  </footer> <!-- /.footer -->
 </body>
</html>
