{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block heading %}About Patchwork{% endblock %}

{% block body %}
<div class="container">
  <h1>About Patchwork</h1>

  <p>Patchwork is free software, and is available from the <a
     href="http://jk.ozlabs.org/projects/patchwork/">Patchwork website</a>.
     Documentation is available on <a
     href="http://patchwork.readthedocs.io/">Read the Docs</a>.</p>

  <p>Patchwork is built on the <a href="https://djangoproject.com/">Django</a>
  web framework using <a href="https://getbootstrap.com/">Bootstrap</a>.</p>

  <div class="card mb-3">
    <h3 class="card-header">Version</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p>{{ version }}</p>
      </li>
    </ul>
  </div>

  <div class="card">
    <h3 class="card-header">API Status</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        REST <i class="fas fa-question-circle" title="The REST API"></i>
        {% if enabled_apis.rest %}
        <span class="badge badge-success float-right">enabled</span>
        {% else %}
        <span class="badge badge-warning float-right">disabled</span>
        {% endif %}
      </li>
      <li class="list-group-item">
        XML-RPC <i class="fas fa-question-circle" title="The XML-RPC API"></i>
        {% if enabled_apis.xmlrpc %}
        <span class="badge badge-success float-right">enabled</span>
        {% else %}
        <span class="badge badge-warning float-right">disabled</span>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
{% endblock %}
