{% extends "base.html" %}

{% block title %}Project List{% endblock %}
{% block body %}
<div class="mt-4"></div>
{% if projects %}
<div class="card-columns">
{% for p in projects %}
  <div class="card">
    <h3 class="card-header">{{p.name}}</h3>
    <div class="card-body">
      <a class="btn btn-primary btn-sm" href="{% url 'patch-list' project_id=p.linkname %}">View patches</a>
      {% if p.web_url %}
      <a class="btn btn-secondary btn-sm" href="{{ p.web_url }}">Web URL</a>
      {% endif %}
      {% if p.webscm_url %}
      <a class="btn btn-secondary btn-sm" href="{{ p.webscm_url }}">Web SCM URL</a>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
{% else %}
<p>Patchwork doesn't have any projects to display!</p>
{% endif %}
{% endblock %}
